<p id="notice"><%= notice %></p>

<h3>My Starred Contacts</h3>

<table>
  <thead>
    <tr>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to "#{contact.name}", show_single_contact_path(contact) %>
          <% if contact.starred %>
            <em><small>starred</small></em>
          <% end %>
        </td>
        <td><%= link_to 'Edit', edit_contact_form_path(contact) %></td>
        <td><%= link_to 'Delete', delete_single_contact_path(contact), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Contact', new_contact_form_path %>
